.container.container--keynote
  .row.center-xs
    .col-xs-12
      %h2.title KEYNOTE
  .row.center-sm
    .col-xs-12.col-sm-9
      .row.center-xs
        - data.keynote.each do |record|
          .col-xs-4
            = link_to "https://github.com/#{record[:github]}", alt: record[:github], target: "_blank" do
              = image_tag "keynote/#{record[:github]}.jpg", alt: record[:github], class: "thumbnail--keynote"
            .userinfo
              %p.username
                = record[:github]
              %ul.links
                %li
                  = link_to "https://github.com/#{record[:github]}", target: "_blank" do
                    %i.fab.fa-github
                - if record[:twitter]
                  %li
                    = link_to "https://twitter.com/#{record[:twitter]}", target: "_blank" do
                      %i.fab.fa-twitter
