/
  .container.container--sponsor
    .row.center-xs
      .col-xs-12
        %h2.title SPONSORSHIP
    .row.center-xs
      .col-xs-12
        .comingsoon
          %p <a href="https://gist.github.com/yhirano55/9ada41352dddad28bad668087f0abadc">スポンサーシップ募集要項</a>をご確認のうえ、<a href="https://docs.google.com/forms/d/e/1FAIpQLSfOxi11oKHfpJIPgxKb2-hy40Mkz0omOIA3yF_yoI9QoySY1w/viewform">こちらのウェブフォーム</a>よりお申し込みください。募集期間: 2019年1月16日（水）〜1月26日（土）

.container.container--sponsor
  .row.center-xs
    .col-xs-12
      %h2.title SPONSORS
  - data.sponsor.each do |sponsor|
    .row
      .col-xs-12
        .sponsor
          .row
            .col-xs-3.col-sm-2
              = image_tag "sponsor/#{sponsor[:id]}.png", alt: sponsor[:name]
            .col-xs-9.col-sm-10
              %p.label= sponsor[:label]
              %h3= link_to sponsor[:name], sponsor[:url]
              .description
                %p= sponsor[:description]
