.container.container--timetable
  .row.center-xs
    .col-xs-12
      %h2.title TIMETABLE - DAY 1
  .timetable
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 9:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 開場
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 10:15
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 開会・協賛紹介・注意事項の案内
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 10:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/special_session"
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:05
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined2" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:10
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined2" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:15
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined2" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined2" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:40
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "onk", label: "A-1" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "youchan", label: "B-1" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "gotchane", label: "C-1" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 12:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "yoshiori", label: "A-2" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "yahonda", label: "B-2" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "tawachan", label: "C-2" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 13:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/lunch_session", locals: { id: "undefined1", label: "A-5" }
          .col-xs-12.col-md-4
            = partial "shared/lunch_session", locals: { id: "undefined2", label: "B-5" }
          .col-xs-12.col-md-4
            = partial "shared/lunch_session", locals: { id: "undefined3", label: "C-5" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 14:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "hsbt", label: "A-3" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "upinetree", label: "B-3" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "itkrt2y", label: "C-3" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 14:40
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "rust", label: "A-4" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "yancya", label: "B-4" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "m-nakamura145", label: "C-4" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 15:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "mrkn", label: "A-6" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "TakatoshiMaeda", label: "B-6" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "rlho", label: "C-6" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 16:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "nay", label: "A-7" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "takkanm", label: "B-7" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "ota42y", label: "C-7" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 16:40
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "ujihisa", label: "A-8" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "undefined3", label: "B-8" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "katorie", label: "C-8" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 17:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "yui-knk", label: "A-9" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "aeroastro", label: "B-9" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "taogawa", label: "C-9" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "kyuden", label: "A-10" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "r7kamura", label: "B-10" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "Morred", label: "C-10" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:40
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "amatsuda", label: "A-11" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "undefined", label: "B-11" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "undefined", label: "C-11" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 19:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/keynote_session", locals: { github_id: "takahashim" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 19:50
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 閉会
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 20:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 懇親会
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 21:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 片付け
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 22:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 撤収

.container.container--timetable
  .row.center-xs
    .col-xs-12
      %h2.title TIMETABLE - DAY 2
  .timetable
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 9:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 開場
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 10:15
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 開会・協賛紹介・注意事項の案内
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 10:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "moro", label: "A-12" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "taiki-t", label: "B-12" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "masa-iwasaki", label: "C-12" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:10
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "willnet", label: "A-13" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "ffu_", label: "B-13" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "kokuyouwind", label: "C-13" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 11:50
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "koichiroo", label: "A-14" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "y-yagi", label: "B-14" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "idesaku", label: "C-14" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 12:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "koic", label: "A-15" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "radioboo", label: "B-15" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "risacan", label: "C-15" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 13:10
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/lunch_session", locals: { id: "undefined4", label: "A-16" }
          .col-xs-12.col-md-4
            = partial "shared/lunch_session", locals: { id: "undefined5", label: "B-16" }
          .col-xs-12.col-md-4
            = partial "shared/lunch_session", locals: { id: "undefined6", label: "C-16" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 14:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "joker1007", label: "A-17" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "f440", label: "B-17" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "yoshuki", label: "C-17" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 14:40
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "unak", label: "A-18" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "ryopeko", label: "B-18" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "komagata", label: "C-18" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 15:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "banyan", label: "A-19" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "sinamon129", label: "B-19" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "yasaichi", label: "C-19" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 16:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "knu", label: "A-20" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "mtsmfm", label: "B-20" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "pipopotamasu", label: "C-20" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 16:40
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "hokaccha", label: "A-21" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "hanachin", label: "B-21" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "ursm", label: "C-21" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 17:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "k0kubun", label: "A-22" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "284km", label: "B-22" }
          .col-xs-12.col-md-4
            = partial "shared/session", locals: { github_id: "sinsoku", label: "C-22" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined3" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:05
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined4" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:10
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/pr", locals: { id: "undefined4" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:20
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            = partial "shared/keynote_session", locals: { github_id: "undefined" }
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 18:50
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 閉会
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 19:10
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 懇親会
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 21:30
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 片付け
    .row
      .col-xs-12.col-md-1
        .timetable__section.timetable__section--time
          %p 22:00
      .col-xs-12.col-md-11
        .row
          .col-xs-12.col-md-12
            .timetable__section.timetable__section--session
              %p 撤収
