---
id: 2019
title: Rails Developers Meetup 2019
description: 2019.03.22, 2019.03.23 at Oracle Corporation Japan #railsdm2019
---

= partial "shared/header"
= partial "shared/summary"
= partial "shared/entries"
= partial "shared/keynote"
= partial "shared/speaker"
= partial "shared/timetable"
= partial "shared/sponsor"
= partial "shared/staff"
= partial "shared/copyright"
